.row{
    border: black solid 1px;
;}
.col, col-12, col-5,col-3,col-2{
    border: black solid 1px;
}

body{
    background: lightgrey;

}
#Header-main{
    background: lightgoldenrodyellow;
}
#Main-Nav-Bar{
    background: lightblue;
}
#Left-Side-Bar{
    background: lightpink;
}
